<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container" >

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action method="post" th:object="${item}">

        <div>
            <label for="itemName" th:text="#{label.item.name}">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:errorclass="field-error" class="form-control" placeholder="상품 제목을 입력하세요">
            <div class="field-error" th:errors="*{itemName}">
                상품명 오류
            </div>
        </div>
        <div>
            <label for="itemCourse" th:text="#{label.item.course}">상품코스</label>
            <input type="text" id="itemCourse" th:field="*{itemCourse}"
                   th:errorclass="field-error" class="form-control" placeholder="상품 코스를 입력하세요">
           <div class="field-error" th:errors="*{itemCourse}">
                상품코스 오류
            </div>
        </div>
        <div>
            <label for="detail" th:text="#{label.item.detail}">상세</label>
            <textarea cols="5" rows="5" id="detail" th:field="*{detail}" class="form-control"></textarea>
            <div class="field-error" th:errors="*{detail}">
                상품상세 오류
            </div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>

        <!-- single checkBox -->
        <div>판매 상태</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open"  th:field="*{open}" class="form-check-input" placeholder="판매여부를 확인해주세요">
                <label for="open"class="form-check-label">판매여부</label>
            </div>
        </div>

        <!-- multi checkBox -->
        <div>등록 지역</div>
        <div th:each="region : ${regions}" th:value="${region.key}" class="form-check-inline">
            <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>

        <!-- radio button-->
        <div>가이드 종류</div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                GUIDE
            </label>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>